@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightseagreen;
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 3vw;
    text-align: center;
    margin: 30px 8%;
}

/* menu page */

#menu {
    text-align: center;
    display: block;

}


.list {
    display: block;
    margin: 5.5%;
    padding: 10px;
    font-size: large;
    transition: transform .2s;
}

.list:hover {
    transform: scale(1.1);
}

.game-mode-btn {
    background-color: yellow;
    color: black;
    padding: 3%;
    width: 33%;
    border-radius: 50%;
    font-size: 5vw;
    cursor: pointer;

}

/* game page */

.selection {
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    transition: transform .2s;
    cursor: pointer;
}

.selection:hover {
    transform: scale(1.1);
}

#computer {
    float: right;
    margin-right: 10%;
    width: 33%;
    height: 55vh;
    text-align: center;
    position: relative;

}

#player {
    float: left;
    margin-left: 10%;
    width: 33%;
    height: 55vh;
    text-align: center;
    position: relative;

}

.score {
    text-align: center;
    margin-top: 20px;

}

.game-img {
    min-height: 100%;
    min-width: 100%;
    object-fit: contain;

}

.container {
    margin-top: 5%;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

#result-display {
    clear: both;
    text-align: center;
    margin-bottom: 30px;
}

#game-buttons {
    text-align: center;
    margin-bottom: 30px;

}


#quit {
    float: right;
}

/* rules page */

h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 3vw;
}


#exit-rules {
    width: 25px;
    height: 25px;
    font-size: 1.5vw;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    text-align: center;
    cursor: pointer;

}

.go-back {
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
    clear: both;
    cursor: pointer;
}

#rules-intro {
    margin: 20px 50px 50px;
    font-size: 2vw;

}

#rules-list {
    margin: 20px 50px;
    list-style-type: none;
    font-size: 1.75vw;
    min-width: 40%;
    text-align: center;
    float: right;
    margin-right: 8%
}

#rules-diagram {
    max-width: 40%;
    height: auto;
    margin-left: 8%;
    margin-bottom: 40px;
}

/* game over page */

.hide {
    display: none;
}

#end-page {
    text-align: center;

}

#game-result {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 5%;

}

/* media queries */


/* for large to medium screen sizes from 1100px wide and down */

@media only screen and (max-width: 1100px) {

    h2 {
        margin: 20px 0 20px;
    }

    #rules-intro {
        margin: 0 8% 10px;
    }

    #rules-diagram {
        float: none;
        max-width: 80%;
        margin: 0 10%;
    }


    #rules-list {
        float: none;
        font-size: 4vw;

    }

    .go-back {
        font-size: 3vw;
    }
}

/* for medium to small screen sizes from 950px wide and down */

@media only screen and (max-width: 950px) {
    h1 {
        font-size: 5vw;
        margin-bottom: 3%;
    }

    .mediaquery {
        font-size: 2vw;
    }

    .score {
        font-size: 2vw;
    }
}

/* for small screens 550px wide and down */

@media only screen and (max-width: 550px) {


    .mediaquery {
        font-size: 3vw;
    }

    .score {
        font-size: 3vw;
    }





}

